.main {
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.container {
  padding:24px;
  border-radius: 16px;
  display: flex;
  background-color: #ffff;
  border: 1px solid lightgrey;
  width: 89%;
}
